<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>McBonald's</title>
        <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <!-- Verifica se a View nao é a home -->
        @if(!"Home".Equals( (string) ViewData["NomeView"]))
        {
            <link href="css/style-pedidos-flex.css" rel="stylesheet" type="text/css">
        }
    </head>
<!-- fim head  -->
    <body class="flex-container">
    <nav>
        <div class="section-container">
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="active">Principal</a></li>
                <li><a href='@Url.Action("Index", "Home")#hamburgueres'>Hamburgueres</a></li>
                <li><a href='@Url.Action("Index", "Home")#shakes'>Shakes</a></li>
                <li><a href='@Url.Action("Index", "Home")#historia'>História</a></li>
                <li><a href='@Url.Action("Index", "Home")#local'>Local</a></li>
                <li><a id="bt-peca_ja" asp-controller="Pedido" asp-action="Index">Peça já!</a></li>
            </ul>
        </div>
    </nav>
<!--- fim nav  -->
        @RenderBody()<!-- responsável por renderizar a página  -->
        <footer>
            <div class="section-container">
                <address>
                    Avenida de Limeira, 539 - Campos Elíseos - SP
                    <br />
                    mcbonalds@email.com
                    <br />
                    11 1234 6789
                </address>
                <a href="#">Voltar para o topo!</a>
            </div>
        </footer>
        <!-- -fim footer -->
    </body>
</html>